In [1]:
import pandas as pd
import os
import shutil
from tqdm import tqdm

In [3]:
df = pd.read_csv('metadata_labels/sampled_ds_300.csv')
df.head()

,Unnamed: 0,full_path,LID,CName,X,Y,W,H,IName,file_path,...,site,cam_type,date,time,datetime,datetime_round,seq,day_night,year,example
0,1,data/COA_2019/COA2019_Bat/images/10316-5__2019...,4,Bat,1414.630021,1792.900518,824.016913,425.915281,10316-5__2019-08-05__04-43-55(1).JPG,data/COA_2019/COA2019_Bat,...,10316-5,NaN,2019-08-05,04-43-55,2019-08-05 04:43:55,2019-08-05 04:43:00,1.0,night,2019.0,n
1,2,data/COA_2019/COA2019_Bat/images/10831-1__2019...,13,Bat,107.568710,835.605219,564.228330,486.760322,10831-1__2019-08-07__01-08-48(7).JPG,data/COA_2019/COA2019_Bat,...,10831-1,NaN,2019-08-07,01-08-48,2019-08-07 01:08:48,2019-08-07 01:08:00,7.0,night,2019.0,n
2,3,data/COA_2019/COA2019_Bat/images/8749-3__2019-...,16,Bat,972.177590,1817.238534,718.477801,344.788561,8749-3__2019-07-19__00-53-50(1).JPG,data/COA_2019/COA2019_Bat,...,8749-3,NaN,2019-07-19,00-53-50,2019-07-19 00:53:50,2019-07-19 00:53:00,1.0,night,2019.0,n
3,4,data/COA_2019/COA2019_Bat/images/8749-3__2019-...,17,Bat,740.803383,774.760179,438.393235,263.661841,8749-3__2019-07-19__00-53-51(2).JPG,data/COA_2019/COA2019_Bat,...,8749-3,NaN,2019-07-19,00-53-51,2019-07-19 00:53:51,2019-07-19 00:53:00,2.0,night,2019.0,n
4,5,data/COA_2019/COA2019_Bat/images/8749-3__2019-...,18,Bat,489.133192,1947.041287,422.156448,377.239249,8749-3__2019-07-19__04-01-21(1).JPG,data/COA_2019/COA2019_Bat,...,8749-3,NaN,2019-07-19,04-01-21,2019-07-19 04:01:21,2019-07-19 04:01:00,1.0,night,2019.0,n

In [4]:
df['full_path'].values

array(['data/COA_2019/COA2019_Bat/images/10316-5__2019-08-05__04-43-55(1).JPG',
       'data/COA_2019/COA2019_Bat/images/10831-1__2019-08-07__01-08-48(7).JPG',
       'data/COA_2019/COA2019_Bat/images/8749-3__2019-07-19__00-53-50(1).JPG',
       ...,
       'data/HJA_GRID/HJA_GRID_Wren/images/GRID_08_08C__GRID_08_08C_2019__2019-12-27__09-56-49(2).JPG',
       'data/HJA_GRID/HJA_GRID_Wren/images/GRID_08_08C__GRID_08_08C_2019__2019-12-27__09-56-50(3).JPG',
       'data/ORSNAP/ORSNAP_OtherBird/images/ORSNAP02__2019-09-21__12-25-14(1).JPG'],
      dtype=object)

In [6]:
for file in tqdm(df['full_path'].values):
    
    file_source = '../' + file
    
    file_target = '../upload_300thresh/' + file
    
    os.makedirs(os.path.dirname(file_target), exist_ok=True)

    shutil.copy(file_source, file_target)

100%|██████████| 10940/10940 [00:19<00:00, 553.87it/s]

,Unnamed: 0,full_path,LID,CName,X,Y,W,H,IName,file_path,...,site,cam_type,date,time,datetime,datetime_round,seq,day_night,year,example
0,1,data/COA_2019/COA2019_Bat/images/10316-5__2019...,4,Bat,1414.630021,1792.900518,824.016913,425.915281,10316-5__2019-08-05__04-43-55(1).JPG,data/COA_2019/COA2019_Bat,...,10316-5,NaN,2019-08-05,04-43-55,2019-08-05 04:43:55,2019-08-05 04:43:00,1.0,night,2019.0,n
1,2,data/COA_2019/COA2019_Bat/images/10831-1__2019...,13,Bat,107.568710,835.605219,564.228330,486.760322,10831-1__2019-08-07__01-08-48(7).JPG,data/COA_2019/COA2019_Bat,...,10831-1,NaN,2019-08-07,01-08-48,2019-08-07 01:08:48,2019-08-07 01:08:00,7.0,night,2019.0,n
2,3,data/COA_2019/COA2019_Bat/images/8749-3__2019-...,16,Bat,972.177590,1817.238534,718.477801,344.788561,8749-3__2019-07-19__00-53-50(1).JPG,data/COA_2019/COA2019_Bat,...,8749-3,NaN,2019-07-19,00-53-50,2019-07-19 00:53:50,2019-07-19 00:53:00,1.0,night,2019.0,n
3,4,data/COA_2019/COA2019_Bat/images/8749-3__2019-...,17,Bat,740.803383,774.760179,438.393235,263.661841,8749-3__2019-07-19__00-53-51(2).JPG,data/COA_2019/COA2019_Bat,...,8749-3,NaN,2019-07-19,00-53-51,2019-07-19 00:53:51,2019-07-19 00:53:00,2.0,night,2019.0,n
4,5,data/COA_2019/COA2019_Bat/images/8749-3__2019-...,18,Bat,489.133192,1947.041287,422.156448,377.239249,8749-3__2019-07-19__04-01-21(1).JPG,data/COA_2019/COA2019_Bat,...,8749-3,NaN,2019-07-19,04-01-21,2019-07-19 04:01:21,2019-07-19 04:01:00,1.0,night,2019.0,n